
{{ define "base" }}
 <Html>
  <head>
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <meta name="Keywords" content="">
      <meta name="Description" content="">
      <title>iask 后台管理</title>
      <link rel="stylesheet" media="screen" href="/static/bootstrap3/css/bootstrap.min.css">
      <link rel="stylesheet" media="screen" href="/static/iask.css">
      {{ template "head" . }}
  </head>
  <body>




     {{ template "body" . }}

     <script type="text/javascript" src="/static/js/jquery-3.1.1.min.js"></script>
     <script type="text/javascript" src="/static/bootstrap3/js/bootstrap.min.js" ></script>
  </body>
 </Html>

{{ end }}