
{{ define "base" }}
 <Html>
  <head>
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <meta name="Keywords" content="">
      <meta name="Description" content="">
      <title>iask 后台管理</title>
      <link rel="stylesheet" media="screen" href="/static/bootstrap3/css/bootstrap.min.css">
  </head>
  <body>

      <nav class="navbar navbar-default" role="navigation">
          <div class="container">
              <!-- Brand and toggle get grouped for better mobile display -->
              <div class="navbar-header">
                  <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                      <span class="sr-only">Toggle navigation</span>
                      <span class="icon-bar"></span>
                      <span class="icon-bar"></span>
                      <span class="icon-bar"></span>
                  </button>
                  <a class="navbar-brand" href="#">iAski</a>
              </div>

              <!-- Collect the nav links, forms, and other content for toggling -->
              <div class="collapse navbar-collapse" id="">
                  <ul class="nav navbar-nav">

                      <li class="dropdown">
                          <a href="#" class="dropdown-toggle" data-toggle="dropdown">周易<span class="caret"></span></a>
                          <ul class="dropdown-menu" role="menu">
                              <li><a href="#">查看列表</a></li>
                              <li class="divider"></li>
                              <li><a href="#"></a></li>
                          </ul>
                      </li>
                      <li class="dropdown">
                          <a href="#" class="dropdown-toggle" data-toggle="dropdown">穴位<span class="caret"></span></a>
                          <ul class="dropdown-menu" role="menu">
                              <li><a href="#">查看列表</a></li>
                              <li class="divider"></li>
                              <li><a href="#"></a></li>
                          </ul>
                      </li>
                  </ul>

                  <ul class="nav navbar-nav navbar-right">
                      <li><a href="#">退出</a></li>
                      <li class="dropdown">
                          <a href="#" class="dropdown-toggle" data-toggle="dropdown">用户<span class="caret"></span></a>
                          <ul class="dropdown-menu" role="menu">
                              <li><a href="#">查看用户列表</a></li>
                              <li class="divider"></li>
                              <li><a href="#">退出</a></li>
                          </ul>
                      </li>
                  </ul>
              </div><!-- /.navbar-collapse -->
          </div><!-- /.container-fluid -->
      </nav>


     {{ template "body" . }}

     <script type="text/javascript" src="/static/js/jquery-3.1.1.min.js"></script>
     <script type="text/javascript" src="/static/bootstrap3/js/bootstrap.min.js" ></script>
  </body>
 </Html>

{{ end }}