
{{define "head"}}
    <link rel="stylesheet" media="screen" href="/assets/login.css">
{{end}}

{{ define "body" }}

<div class="container">

    <form class="form-signin" id="login-form" action="/admlogin" method="POST">
        {{ .csrfField }}
        <div id="result"> {{ .title }} </div>


        <h2 class="form-signin-heading"> {{ .title }}</h2>
        <input type="text" id="username" name="username"  class="" placeholder="user@goipc.cn"><br/>
        <input type="password" id="passwd" name="passwd" class="" placeholder="Password"><br/>
        <input type="text" name="captcha" />


        <button class="btn btn-large btn-primary" type="submit">登录</button>
    </form>

</div>



{{  end }}